.breadcrumbs {
  padding-top: 20px;

  @media (min-width: 820px) {
    padding-top: 24px;
  }

  // &__container {
  // }

  // &__list {
  // }

  &__item {
    display: inline-block;
  }

  &__link {
    margin-right: 3px;
    color: #969EAE;
    
    &:last-child {
      margin-right: 0;
    }
  }

  &__separator {
    margin-right: 3px;
    color: #969EAE;
  }
}
