.card {
  position: relative;
  
  // @media (min-width: 580px) {
  //   display: grid;
  //   grid-template-areas:
  //   'img img'
  //   'title price'
  //   'btn btn';
  // }

  &__link {
    display: block;

    &-image {
      margin-bottom: 12px;
      
      // @media (min-width: 580px) {
      //   grid-area: img;
      // }
      
      @media (min-width: 580px) {
        margin-bottom: 16px;
      }
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  &__info {

    @media (min-width: 580px) {
      display: flex;
      margin-bottom: 20px;
      gap: 5px;
    }
  }

  &__title {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    
    @media (min-width: 580px) {
      // grid-area: title;
      padding-top: 3px;
      font-size: 16px;
      margin-bottom: 0;
    }
    
    // @media (min-width: 820px) {
    //   font-size: 16px;
    // }
  }

  &__price {
    margin-bottom: 12px;
    margin-bottom: 16px;
        
    @media (min-width: 580px) {
      font-size: 20px;
      // grid-area: price;
      margin-bottom: 0;
    }
  }

  &__btn {
    color: #780096;
    padding: 12px 24px;
    border-radius: 32px;
    border: 1px solid #780096;
    width: 100%;
    
    // @media (min-width: 580px) {
    //   grid-area: btn;
    // }
  }

  &__favorite {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}